h1 {
    padding-left: 3%;
}

body {
    background: grey;
}

text {
    font-family: 'Times New Roman', Times, serif;
}

.text-box {
    position: relative;
    display: block;
    padding: 3%;
}

textarea {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background: lightgrey;
    width: 75vw;
    height: 33vh;
    box-sizing: border-box;
    display: block;
}

.translate-button {
    background-color: lightgrey;
    width: 15vw;
    height: 5vh;
}
