/data
/models
/notebooks/t5/runs
/notebooks/t5/wandb
/notebooks/llama2/runs
/notebooks/llama2/wandb
/notebooks/size-selection/wandb
/notebooks/final-model-training/wandb
/.venv
/flask-app/build
/flask-app/dist
/transliteration/data
/transliteration/notebooks/wandb
Notebooks/Models/DualTaskTibetanToEnglish/wandb
Notebooks/Models/DualTaskTibetanToEnglish/dual-task-poc
Notebooks/Models/BidirectionalTest/wandb
Notebooks/Models/BidirectionalTest/unidirectional
Notebooks/Models/BidirectionalTest/bidirectional
tibetan_english_dataset
Notebooks/Datasets/OpenPecha/cc-results
Notebooks/Models/BertTag/bert-classifier
Notebooks/Models/withOPdata/op-poc
Notebooks/Models/withOPdata/wandb
Notebooks/Models/BertTag/op-bert-classifier
Notebooks/Models/BertTag/wandb
Notebooks/Models/BertTag/op-bert-classifier-all-labels