/data
/models
/notebooks/t5/runs
/notebooks/t5/wandb
/notebooks/llama2/runs
/notebooks/llama2/wandb
/notebooks/size-selection/wandb
/notebooks/final-model-training/wandb
/.venv
/flask-app/build
/flask-app/dist
/transliteration/data
/transliteration/notebooks/wandb
Notebooks/Models/DualTaskTibetanToEnglish/wandb
Notebooks/Models/DualTaskTibetanToEnglish/dual-task-poc
Notebooks/Models/BidirectionalTest/wandb
Notebooks/Models/BidirectionalTest/unidirectional
Notebooks/Models/BidirectionalTest/bidirectional
tibetan_english_dataset
Notebooks/Datasets/OpenPecha/cc-results
Notebooks/Models/BertTag/lh-bert-classifier
Notebooks/Models/withOPdata/op-poc
Notebooks/Models/withOPdata/wandb
Notebooks/Models/BertTag/op-bert-classifier
Notebooks/Models/BertTag/wandb
Notebooks/Models/BertTag/op-bert-classifier-all-labels
Notebooks/Models/BertTag/en-lh-bert-classifier
Notebooks/Models/BertTag/lg-col-op-bert-classifier
Notebooks/Models/BertTag/en-lh-bert-classifier
Notebooks/Datasets/OpenPecha/wip-ds
Notebooks/Models/PhoneticTibetanToEnglishTranslation/arch-selection/llama2/wandb
Notebooks/Models/ProofOfConcepts/RAT/rat-poc-*
Notebooks/Models/ProofOfConcepts/RAT/wandb
Docs/OpenPechaForumPosts/example-cc
Notebooks/Models/MoE/wandb
Notebooks/Models/MoE/t5-small
Notebooks/Models/MoE/moe-poc-ds
Notebooks/Models/TriTask/thl-bo-en-tri-base-v0
Notebooks/Models/TriTask/thl-bo-en-tri-s-v0
Notebooks/Models/TriTask/wandb